<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO List</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
    <section id="todoContainer">
    	<table class="table">
    		<thead>
				<tr>
					<th>Id</th>
					<th>Todo</th>
					<th>Status</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="todo : ${todoList}">
					<td th:text=${todo.getId()}></td>
					<td th:text=${todo.getTodoItem()}></td>
					<td th:text=${todo.getStatus()}></td>
					<td>
						<form th:action="@{/todoUpdate/{id}(id=${todo.getId()})}" method="POST" enctype="multipart/form-data"> 
							<input type="submit" style="background-color: #008CBA; color: white;" value="Update">
						</form>
					</td>
					<td>
						<form th:action="@{/todoDelete/{id}(id=${todo.getId()})}" method="POST" enctype="multipart/form-data">
							<input type="submit" style="background-color: red; color: white;" value="Delete">
						</form>
					</td>
				</tr>
			</tbody>
		</table><br>
		<div>
			<button id="modalbtn" class="button">Add New Todo</button>
		</div>
		
		<div id="viewModal" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close">&times;</span>
					<h5>New TODO</h5>
				</div>
				<div class="modal-body">
					<form th:action="@{/todoNew}" method="POST" enctype="multipart/form-data">
						<label>Todo</label>
						<input type="text" name="todoItem" placeholder="Enter Todo"><br>
						<div>
							<label>Status</label>
							<select name="status">
								<option>Yes</option>
								<option>No</option>
							</select>
						</div><br>
						<input type="submit" class="button" value="Add Todo">
					</form>
				</div>
			</div>
		</div>
	</section>
	<script>
		var modal = document.getElementById("viewModal");
		var btn = document.getElementById("modalbtn");
		var span = document.getElementsByClassName("close")[0];
		
		btn.onclick = function() {
		  modal.style.display = "block";
		}
		
		span.onclick = function() {
		  modal.style.display = "none";
		}
		
		window.onclick = function(event) {
		  if (event.target == modal) {
		    modal.style.display = "none";
		  }
		}
	</script>
</body>
</html>